.header {
  text-align:center;
   text-shadow: 3px 2px white;
  font-family: cursive;
}
.inputs {
  max-width: 25%;
  text-align: center;
  margin: auto;
}
body {
  background-color: #849cc4;
}
.imageLeft {
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
.imageRight {
  float: right;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}